*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(231, 213, 188);
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
}

nav{
    text-align: center;
    margin-top: 12px;
    padding: 24px 0;
    background-color: #1b1a1a;
}

li{
    display: inline;
    margin: 5px;   
}

img{
    align-items: center;
    width: 400px;
    height: 400px;
}